html {
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
  color: #ddd;
  background-color: var(--gray-dark);
  font-family: "Roboto", sans-serif;
  background-image: url("/assets/images/overlay.png");
}

main {
  flex-grow: 1;
}

.portrait {
  margin: 60px auto -14px;
  background: url("/assets/images/coding.webp") top center no-repeat;
  height: 210px;
  transition: all ease-out var(--loading-transition-time);

  .is-loading & {
    opacity: 0;
    transform: translate(0, -30px);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: white;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
}

main:focus {
  outline: none;
}

/* prevents animation/transition flickering on page load */
body.is-loading {
  *, *::before, *::after {
    animation: none !important;
    transition: none !important;
  }
}
