section.console.module-fade(aria-labelledby="consoledescription")
  h1.sr-only Alejandro Cuba Ruiz | Principal Front-End Engineer
  p#consoledescription.sr-only(aria-hidden="true") Code snippet showing an HTML template written in Pug format to describe Alejandro's bio and link to other websites

  //- Visible Pug code for sighted users
  pre(aria-hidden="true"): code(class=`language-jade`).
    doctype html
    html(lang='en')
      head
        title Alejandro Cuba Ruiz
        - var metadata = {
            description: "Principal Front-End Engineer, Google Developer Expert in Angular, ng-Champion, Sci-Fi Writer",
            location: "Miami Beach, FL",
          }
        for content, name in metadata
          meta(name=name, content=content)

      body
        main
          ul.content
            li#blog https://medium.com/@alejandrocuba
            li#gde https://developers.google.com/profile/u/alejandrocubaruiz
            li#code https://github.com/alejandrocuba
            li#photoblog https://www.instagram.com/alejandrocubaruiz/
            li#scifi(lang='es') https://www.zorphdark.com/
            li#podcast(lang='es') https://www.youtube.com/@angularidades

          ul.social
            li https://linkedin.com/in/alejandrocuba
            li https://bsky.app/profile/alejandrocuba.com

          section.portfolio
            for work, index in creativeworks
              +creativework(work, index)

  //- TODO: Links are nested in <p> tags instead of <ul>/<li> lists to prevent browser Reader Mode engines from stripping them out as boilerplate navigation lists. Revert in the future to bring back semantic lists.
  .sr-only
    p The head section of the Pug template includes a title and metadata variables describing Alejandro as a Principal Front-End Engineer, GDE in Angular, member of the ng-Champions program at ng-conf, co-organizer of the global Angular Community Meetup, host of the Angularidades podcast, and his location as Miami Beach, Florida.
    h2 Links to his online profiles
    p: a(href="https://medium.com/@alejandrocuba") Read Alejandro's blog on Medium.com.
    p: a(href="https://developers.google.com/profile/u/alejandrocubaruiz") View Alejandro's Google Developer Expert profile.
    p: a(href="https://github.com/alejandrocuba") Visit Alejandro's GitHub profile.
    p: a(href="https://www.instagram.com/alejandrocubaruiz/") Explore Alejandro's Instagram Photoblog.
    p: a(href="https://www.youtube.com/@angularidades", lang="es") Listen to the Angularidades podcast about Angular in Spanish.
    p: a(href="https://www.zorphdark.com/", lang="es") Browse Alejandro's science fiction blog in Spanish.
    h2 Social media links
    p: a(href="https://twitter.com/zorphdark") Connect with Alejandro on X.
    p: a(href="https://linkedin.com/in/alejandrocuba") Connect with Alejandro on LinkedIn.
    p: a(href="https://meetup.com/angularcommunity/") Join the Angular Community Meetup.
