include setup/path

doctype html
html(lang='en')
  head
    include resources/metadata
    include resources/favicon
    include resources/styles
    include resources/headjs
    include resources/social

  body.is-loading
    a.skip-link(href='#main-content') Skip to content
    main#main-content(tabindex="-1")
      block content

    include ../_components/footer
    include ../_components/github-corner
    include resources/scripts
