include ../setup/path
link(rel='preconnect', href='https://fonts.googleapis.com')
link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)

block styles
  //- Load Google Fonts asynchronously to prevent render-blocking
  link(rel='preload', as='style', href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap', media='print', onload="this.media='all'")
  noscript
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap')

  //- Main compiled styles (including reset godlike.css)
  link(rel='stylesheet', href=path.css + "styles.css")
