.console {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  transition: opacity ease-out var(--loading-transition-time), transform ease-out var(--loading-transition-time);
  transform-origin: 50% 50%;

  .is-loading & {
    opacity: 0;
    transform: scale(1.05);
  }

  main > & {
    max-width: 640px;
    margin: 0 auto 60px;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Roboto Mono", monospace;
}

pre[class*=language-] {
  margin: 0;
  padding: 1em;
  overflow: auto;
  border: none;
  transition: background-color ease-out .25s;
  background: #292929;
  cursor: text;
  word-wrap: normal;
  line-height: 1.5;
  border-top: 3px solid var(--orange);
  border-radius: 0;

  code {
    white-space: pre-wrap;
    font-family: inherit;
  }

  main & {
    margin: 0 20px .5em;
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    background-color: #2d2d2d;
  }
}

.token.url-link {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
