#lightcase-overlay {
  background-image: url('/assets/images/overlay.png');
}
#lightcase-info {
  display: none;
}
.lightcase-contentInner {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.lightcase-icon-close {
  display: none !important;
}
