-
  let creativeworks = [
    {
      title: 'Spissa Software Solutions',
      thumb: 'spissa/spissa_thumb.webp',
      screenshot: 'spissa/spissa_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://www.spissa.com',
        'name': 'Spissa Software Solutions',
        'about': 'Website of a software developer of apps & web applications.',
        'datePublished': '2014-09'
      }
    },
    {
      title: 'Kewelta',
      thumb: 'kewelta/kewelta_thumb.webp',
      screenshot: 'kewelta/kewelta_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'https://www.kewelta.com',
        'name': 'Kewelta',
        'about': 'Social network for advertising events, products and services provided by Cuban artists and startup companies.',
        'datePublished': '2015-04'
      }
    },
    {
      title: 'Frank Mujica',
      thumb: 'landmujica/mujica_thumb.webp',
      screenshot: 'landmujica/mujica_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://landmujica.com',
        'name': 'Frank Mujica',
        'about': 'Web portfolio of the Cuban painter Frank Mujica.',
        'datePublished': '2013-10'
      }
    },
    {
      title: 'EMPIRE',
      thumb: 'empirecuba/empire_thumb.webp',
      screenshot: 'empirecuba/empire_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://empirecuba.com',
        'name': 'EMPIRE',
        'about': 'Website of an agency that provides design and printing services for events, parties and interior decoration.',
        'datePublished': '2012-08'
      }
    },
    {
      title: 'Living Alpha',
      thumb: 'livingalpha/livingalpha_thumb.webp',
      screenshot: 'livingalpha/livingalpha_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'https://livingalpha.com',
        'name': 'Living Alpha',
        'about': 'Social network that combines micro-journal entries and autobiographical profiles.',
        'datePublished': '2013-05'
      }
    },
    {
      title: 'Online Tours',
      thumb: 'onlinetours/onlinetours_thumb.webp',
      screenshot: 'onlinetours/onlinetours_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://dev.onlinetours.es',
        'name': 'Online Tours',
        'about': 'Web portal of a travel agency with a large variety of services focused in Cuba destination.',
        'datePublished': 'TBA'
      }
    },
    {
      title: 'Cuba Holidays',
      thumb: 'cubaholidays/cubaholidays_thumb.webp',
      screenshot: 'cubaholidays/cubaholidays_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'https://cubaholidays.co.uk',
        'name': 'Cuba Holidays',
        'about': 'A complete and varied database of hotel, resorts, attractions and tours in Cuba.',
        'datePublished': '2014-03'
      }
    },
    {
      title: 'Leticia Sánchez Toledo',
      thumb: 'leticia/leticia_thumb.webp',
      screenshot: 'leticia/leticia_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://leticiasancheztoledo.com',
        'name': 'Leticia Sánchez Toledo',
        'about': 'Web portfolio of the Cuban artist Leticia Sánchez Toledo.',
        'datePublished': '2014-05'
      }
    },
    {
      title: 'SMS Cuba Música',
      thumb: 'smscubamusica/smscubamusica_thumb.webp',
      screenshot: 'smscubamusica/smscubamusica_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://smscubamusica.com',
        'name': 'SMS Cuba Música',
        'about': 'Weblog with the lastest news and albums of a pop music Cuban band.',
        'datePublished': '2014-04'
      }
    },
    {
      title: 'Top Vacations',
      thumb: 'topv/topv_thumb.webp',
      screenshot: 'topv/topv_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://top-vacations.com',
        'name': 'Top Vacations',
        'about': 'Web portal with hand-picked vacations designed by specialists who know destinations first-hand.',
        'datePublished': '2014-12'
      }
    },
    {
      title: 'Yolanda',
      thumb: 'yolanda/yolanda_thumb.webp',
      screenshot: 'yolanda/yolanda_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://yolandahernandezsantacruz.com',
        'name': 'Yolanda\'s portfolio',
        'about': 'Web portfolio of visual artist and graphic designer Yolanda Santa Cruz.',
        'datePublished': '2016-09'
      }
    },
    {
      title: 'The Holiday Place',
      thumb: 'thp/thp_thumb.webp',
      screenshot: 'thp/thp_screenshot.webp',
      data: {
        '@context': "http://schema.org",
        '@type': "WebSite",
        'url': 'http://holidayplace.co.uk',
        'name': 'The Holiday Place',
        'about': 'Website of tailor-made and multi-centre holidays by an ABTA and ATOL-protected, award-winning company.',
        'datePublished': '2012-06'
      }
    },
  ]
